python3 -m venv .venv
source .venv/bin/activate
pip install --upgrade pip
pip install numpy scipy pandas matplotlib
pip freese > requirements.txt


ipython
jupyterlab
notebook
pip
python-dotenv
ruff
scikit-learn
-e .

